<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About :</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet sunt quaerat reprehenderit dolorem totam suscipit consequatur,<br> vero quod ratione magni? Quasi placeat ut vero minus facilis in facere quo quod.</p>
    
    </div>
    
</body>

</html>